<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CREDITOS</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/tramite">Solicitudes en tramite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aprobado">Aprobados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/denegado">Denegados</a>
                </li>
            </ul>
        </div>
    </div>
</nav>